{% extends 'base.html' %}

{% block title %} About {% endblock %}

{% block content %}
    <!-- Heading -->
    <h2 class="heading">{{ _('About Us') }}</h2>
    <!-- About Us -->
    <p class="about-us-p">{{ _('Welcome to Book Store — where stories come alive! We are passionate about connecting readers with the books they love. Whether you are searching for a timeless classic, a thrilling page-turner, or a thought-provoking masterpiece, we have got you covered.') }}</p>
    <!-- Features -->
    <div class="features-container">
        <div class="feature-box">
            <h3>{{ _('Free Shipping') }}</h3>
            <p>{{ _('On All Orders Over $50') }}</p>
        </div>
        <div class="feature-box">
            <h3>{{ _('Easy Returns') }}</h3>
            <p>{{ _('14 Day Returns Policy') }}</p>
        </div>
        <div class="feature-box">
            <h3>{{ _('Secure Payment') }}</h3>
            <p>{{ _('100% Secure Guarantee') }}</p>
        </div>
        <div class="feature-box">
            <h3>{{ _('Special Support') }}</h3>
            <p>{{ _('24/7 Dedicated Support') }}</p>
        </div>
    </div>
{% endblock %}
