{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}

  <div class="container my-5 border auth-container">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4" data-i18n="login.legend">Log In</legend>

            <div class="form-group">
                {{ form.email.label(class='form-control-label', **{'data-i18n': 'login.email_label'}) }}
                {% if form.email.errors %}
                    {{ form.email(class='form-control form-control-lg is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class='form-control form-control-lg') }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.password.label(class='form-control-label', **{'data-i18n': 'login.password_label'}) }}
                {% if form.password.errors %}
                    {{ form.password(class='form-control form-control-lg is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class='form-control form-control-lg') }}
                {% endif %}
            </div>

            <div class="form-group my-3">
                {{ form.login(class='btn btn-primary', **{'data-i18n': 'login.login_btn'}) }}
            </div>
            <div class="form-check">
                {{ form.remember(class='form-check-input') }}
                {{ form.remember.label(class='form-check-input-label', **{'data-i18n': 'login.remember_label'}) }}
            </div>
        </fieldset>
    </form>
    <small class="text-muted">
        <span data-i18n="login.need_account">Need An Account?</span>
        <a class="ml-2" href="{{ url_for('users.register') }}" data-i18n="login.sign_up_here">Sign Up Here</a>
    </small>
</div>
{% endblock %}
